@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(tab-bar-layout) {
}
.tab-bar-layout-container {
  height: 100%;
  .flex-wrapper {
    height: 100%;
    display: flex;
    .tab-bar-inner-content {
      height: calc(100% - 40px);
      padding: 10px 10px 15px;
    }
  }
}

.tab-bar-container {
  position: relative;

  .el-scrollbar {
    flex: 1;
  }

  .tab-bar-box {
    display: flex;
    padding: 0 20px 0 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #181717;

    .tab-bar-inner {
      display: flex;

      .tab-item-container {
        &:first-child {
          .close-btn {
            display: none;
          }
        }
      }
    }
  }

  .tag-bar-operation {
    width: 100px;
    height: 32px;
  }
}

.tab-item-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  .tag-link {
    color: #030303;
    text-decoration: none;

    &:hover {
      color: rgb(94, 94, 204);
    }
  }

  .close-btn:hover {
    line-height: 1;

    &:hover {
      color: red;
    }
  }

  &.link-activated {
    color: rgb(94, 94, 204);

    .tag-link {
      color: rgb(94, 94, 204);
    }
  }
}

.tab-oper-container {
  .el-icon {
    cursor: pointer;
  }
}
